# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Database files (if any, like SQLite or other local database files)
*.sqlite
*.db

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/

# Coverage reports
coverage/

# Temporary files
tmp/
temp/

# Other files
*.tgz
